# Categorical Data

Chapter 12.1 from **Python for Data Analysis** by Wes McKinney.

### Background and motivation

In [1]:
import numpy as np; import pandas as pd

In [2]:
values = pd.Series(['apple', 'orange', 'apple', 'apple']*2)
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [3]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [4]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

---

In [5]:
values = pd.Series([0, 1, 0, 0]*2)
dim = pd.Series(['apple', 'orange'])

In [6]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

This is called *categorical* or *dictionary-encoded* representation. The array of values is called *categories*, *dictionary* or *levels*. The integer values that reference the categories are called *category codes*.

---

### Categorical Type in pandas

In [7]:
fruits = ['apple', 'orange', 'apple', 'apple']*2
N = len(fruits)
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': np.random.randint(3, 15, size=N),
                   'weight': np.random.uniform(0, 4, size=N)}, 
                  columns=['basket_id', 'fruit', 'count', 'weight'])
df

   basket_id   fruit  count    weight
0          0   apple     10  1.052628
1          1  orange      8  1.083520
2          2   apple      7  1.440565
3          3   apple      4  0.327884
4          4   apple     12  1.861974
5          5  orange      4  2.455099
6          6   apple      8  2.371069
7          7   apple     14  1.050031

In [8]:
fruit_cat = df['fruit'].astype('category')
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [9]:
c = fruit_cat.values
type(c)

pandas.core.categorical.Categorical

In [10]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [11]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [12]:
df['fruit'] = df['fruit'].astype('category')
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

---

In [13]:
my_cats = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_cats

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]

---

In [14]:
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo, bar, baz]

In [15]:
ordered_cat = pd.Categorical.from_codes(codes, categories, ordered=True)
ordered_cat

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

In [16]:
my_cats_2.as_ordered()

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

---

### Computations with Categoricals

In [17]:
np.random.seed(23)
draws = np.random.randn(1000)
draws[:5]

array([ 0.66698806,  0.02581308, -0.77761941,  0.94863382,  0.70167179])

In [18]:
bins = pd.qcut(draws, 4)
bins

[(0.607, 3.188], (-0.0748, 0.607], (-2.5869999999999997, -0.697], (0.607, 3.188], (0.607, 3.188], ..., (-2.5869999999999997, -0.697], (-0.697, -0.0748], (0.607, 3.188], (0.607, 3.188], (-0.0748, 0.607]]
Length: 1000
Categories (4, interval[float64]): [(-2.5869999999999997, -0.697] < (-0.697, -0.0748] < (-0.0748, 0.607] < (0.607, 3.188]]

In [19]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins

[Q4, Q3, Q1, Q4, Q4, ..., Q1, Q2, Q4, Q4, Q3]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [20]:
bins.codes[:10]

array([3, 2, 0, 3, 3, 0, 1, 0, 0, 3], dtype=int8)

In [21]:
bins = pd.Series(bins, name="quartile")

In [22]:
results = (pd.Series(draws)
            .groupby(bins)
            .agg(['count', 'min', 'max'])
            .reset_index())
results

  quartile  count       min       max
0       Q1    250 -2.585524 -0.698020
1       Q2    250 -0.697185 -0.078360
2       Q3    250 -0.071324  0.606359
3       Q4    250  0.607317  3.187503

In [23]:
results.quartile

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

---

In [24]:
N = 10000000
draws = pd.Series(np.random.randn(N))
labels = pd.Series(['foo', 'bar', 'baz', 'qux']*(N//4))
categories = labels.astype('category')

In [25]:
labels.memory_usage()

80000080

In [26]:
categories.memory_usage()

10000272

In [27]:
%time _ = labels.astype('category')

Wall time: 591 ms

---

### Categorical Methods

In [28]:
s = pd.Series(['a', 'b', 'c', 'd']*2)
cat_s = s.astype('category')
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [29]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [30]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [31]:
actual_categories = ['a', 'b', 'c', 'd', 'e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
cat_s2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): [a, b, c, d, e]

In [32]:
cat_s.value_counts()

d    2
c    2
b    2
a    2
dtype: int64

In [33]:
cat_s2.value_counts()

d    2
c    2
b    2
a    2
e    0
dtype: int64

In [34]:
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]
cat_s3

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): [a, b, c, d]

In [35]:
cat_s3.cat.remove_unused_categories()  # this doesn't change the original series, but can be copied in another series

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): [a, b]

---

### Categorical Methods for Series in pandas

| Method| Description|
|------|------|
| add_categories| |
| as_ordered | |
| as_unordered| |
| remove_categories| |
| remove_unused_categories| |
| rename_categories| |
| reorder_categories| |
| set_categories| |

---

### Creating Dummy Variables for Modeling

In [36]:
cat_s = pd.Series(['a', 'b', 'c', 'd']*2, dtype = 'category')
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [37]:
pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

---